body {
    margin: 0;
    background-color: rgb(241, 247, 247);
}
.king {
height: 27vh;
    width: 100%;
    background-color: rgb(241, 247, 247);
    position: relative;
}
.dolls {
    position: absolute;
    margin-left: 30px;
    display: flex;
}
.king-form {
background-color: #f0c1ea;
width: 300px;
height: 44px;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
margin-top: 35px;
margin-left: 15px;
position: absolute;
}
.king-input {
all: unset;
font: 16px system-ui;
color: #3b3535;
height: 100%;
width: 100%;
margin-top: 5px;
padding: 6px 10px;
}
placeholder {
color: #fff;
opacity: 0.7; 
}

header {
background-color: #333;
color: #fff;
padding: 15px 0;
width: 100%;
margin-top: -30px;
display: flex;
position: relative;
}

.touch1{
    position: absolute; 
    max-width: 350px; 
    margin-top: 50px; 
    margin-left: 580px;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}


nav .nav-links {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}

nav .nav-links li {
margin-left: 20px;
}

nav .nav-links li a {
color: #fff;
text-decoration: none;
font-size: 18px;
padding: 10px;
transition: background-color 0.3s, color 0.3s;
}

nav .nav-links li a:hover {
background-color: #575757;
border-radius: 5px;
color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
nav {
flex-direction: column;
align-items: flex-start;
}

nav .nav-links {
flex-direction: column;
width: 100%;
}

nav .nav-links li {
width: 100%;
margin: 10px 0;
}

nav .nav-links li a {
display: block;
width: 100%;
text-align: left;
}
}

button {
all: unset;
cursor: pointer;
width: 44px;
height: 44px;
}
.logo {
margin-left: 580px;
}
.profile {
margin-top: -68px;
margin-left: 1070px;
max-width: 50px;
}

.dropdown-options {
display: none;
position: absolute;
overflow: auto;
background-color:#fff;
border-radius:5px;
box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
margin-left: 1071px;
visibility: visible;
z-index: 1000;
}

.dropdown:hover .dropdown-options {
display: block;
}

.dropdown-options a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
padding:20px 40px;
}

.dropdown-options a:hover {
color: #0a0a23;
background-color: #ddd;
border-radius:5px;
}

.navbar-container {
position: relative; 
display: flex; 
column-gap: -6px; 
margin-left: -30px;
margin-top: 50px;
}

.touch2 {
    text-decoration: none; 
    color: #000000; 
    background-color: #f0c1ea; 
    border-radius: 10px; 
    padding: 15px;
}


.cart {
margin-left: 1120px;
margin-top: -25px;
}
.one {
margin-top: 20px;
}

.navbar {
margin-top: -8px;
margin-left: 50px;
position: relative;
display: inline-block;
padding: 0;
max-width: 60px;
}

.follow {
margin-left: 1200px;
position: absolute;
padding: 10px;
}
/* .slideshow-container {
max-width: 1400px;
position: relative;
margin: auto;
}
.mySlides {
display: none;
}
/* Next & previous buttons */
/* .prev, .next {
background-color: rgba(0,0,0,0.65);
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
}
/* Position the "next button" to the right */
/* .next {
right: 0;
border-radius: 3px 0 0 3px;
} */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
} */


/* Fading animation */
/* .fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
} */

/* @-webkit-keyframes fade {
from {opacity: .4} 
to {opacity: 1}
} */

/* @keyframes fade {
from {opacity: .4} 
to {opacity: 1}

} */ */ */
.menu {
color: #f0c1ea;
padding: -10px;
font-size: 15px;
border: none;
text-decoration: none;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}
.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.navbar:hover .dropdown-content {display: block;}
.navbar:hover .menu {
color: aquamarine;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}


.slideshow-container {
width: 100%;
height: 400px; 
position: relative;
margin-top: 15px;
}
.leo {
width: 100%;
height: 400px;
}
.deco-section {
    margin-top: 100px;
    height: 550px;
}

.deco-container {
    max-width: 75%; height: 250px; 
    text-align: center;
    font-family:Geneva, Tahoma, sans-serif;
}

.deco {
    margin-left: 370px; 
    font-size: 45px;
}
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}

.touch:hover {
transition: all ease-in 0.3s;
transform: scale(1.12);
}

.home-service {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flip-card {
    background-color: transparent;
    width: 650px; /* Adjusted width to match image */
    height: 400px; /* Adjusted height for a good flip effect */
    perspective: 1000px; /* Perspective for 3D effect */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .service-img img {
    margin-top: -200px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-left: -325px;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .flip-card-front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flip-card-back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  
  .service-container {
    max-width: 450px;
    margin: auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .s-epistle {
    text-align: center;
    font-size: 24px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .service-epistle {
    text-align: center;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    color: #555;
    line-height: 1.4;
  }
  
  .flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
  }
  
 
.section-aboutus {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 200px;
}

.context {
    width: 60%;
}


.box {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
}


.image {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

p {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.vertical-header {
    font-size: 2rem;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.2;
    margin-top: -200px;
}

.vertical-header span {
    display: block;
    /* margin-bottom: 5px; */
    margin-top: 20px;
}

.vertical-header br {
    margin-bottom: 20px; 
}


.portfolio-section {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    margin-top: 200px;
}

.portfolio-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.portfolio-section .intro-text {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
}


.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.portfolio-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 0 0 10px 10px;
}

.portfolio-item:hover .portfolio-info {
    opacity: 1;
}

.portfolio-info h3 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    font-family: 'Arial', sans-serif;
}

.portfolio-info p {
    font-size: 1rem;
    margin: 0;
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#captionx {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.blog-section {
    padding: 40px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 200px;
}

.spaces {
    font-weight: bolder;
}

.blog-section .intro-text {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: #666;
}

.blog-container-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.blog-container {
    white-space: nowrap;
    flex: 1;
    overflow-x: scroll; /* Allow horizontal scrolling */
}

.blog-grid {
    display: flex;
    gap: 20px; 
    transition: transform 0.3s ease; 
}

.blog-post {
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px; 
    flex: 0 0 auto; 
}

.blog-post img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.blog-post:hover img {
    transform: scale(1.05);
}

.post-content {
    padding: 20px;
    text-align: left;
}

.post-content h3 {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.post-content p {
    font-size: 1rem;
    margin: 0 0 15px 0;
    color: #666;
}

.read-more {
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.read-more:hover {
    color: #0056b3;
}

#contact-us {
    background: linear-gradient(135deg, #f7f7f7 0%, #e3e3e3 100%);
    padding: 60px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 200px;
}

.contact-us-container {
    max-width: 720px;
    margin-top: 5px;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-touch {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.assist {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #666;
}

.contact-form {
    margin: 0 auto 40px auto; 
    width: 100%;
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.form-input:hover,
.form-textarea:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    border-color: #666;
}

.form-input:focus,
.form-textarea:focus {
    border-color: #999;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-textarea {
    margin-top: 0;
    height: 100px;
}

.form-submit {
    width: 100%;
    background: linear-gradient(135deg, #333, #000);
    color: white;
    padding: 12px;
    cursor: pointer;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
}

.form-submit:hover {
    background: linear-gradient(135deg, #444, #111);
    transform: scale(1.05);
}

.contact-info {
    text-align: left;
    margin-top: 40px;
}

.contact-info h3 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 10px;
}

.contact-us-image {
    max-width: 420px;
    margin-left: 10px;
}

#contact-us img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.quicklink-container, .foot-contact-container, .social-container {
    max-width: 300px;
    margin-bottom: 20px;
}

.quicklink, .foot-contact, .social {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.quicklink-item-container {
    line-height: 2;
}

.quicklink-item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    transition: color 0.3s ease;
}

.quicklink-item:hover {
    color: #fff;
}

.foot-contact-item {
    font-size: 16px;
    color: #ccc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.social-container .media-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.media-item i {
    color: #ccc;
    transition: color 0.3s ease;
}

.media-item:hover i {
    color: #fff;
}

.footer-copy {
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #222;
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.footer-copy strong {
    color: #fff;
}

